body {
    margin: 0;
    background: #14151b;
    color: #fff;
    font-family: 'Sofia Sans Condensed', Arial, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background: #14141A;
    padding: 0 16px;
    font-family: 'Sofia Sans Condensed', Arial, sans-serif;
}

.topbar__left {
    display: flex;
    align-items: center;
}

.topbar__logo {
    height: 16px;
    width: auto;
    margin-right: 142px;
}

/* Навигация */
.topbar__nav {
    display: flex;
    align-items: center;
    gap: 41px;
}

.topbar__nav-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-weight: 400;
    transition: color 0.2s;
    height: 40px;
}

.topbar__nav-icon {
    width: 18px;
    height: 18px;
    margin-right: 9px;
}

.topbar__nav-link--promotions {
    color: #E5FF3A;
    background: #000;
    width: 135px;
    height: 40px;
    border-radius: 8px;
    justify-content: center;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.topbar__right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 142px;
}

/* Баланс + депозит */
.topbar__wallet-block {
    display: flex;
    width: 263px;
    height: 40px;
    align-items: center;
    background: #3A3451;
    border-radius: 6px;
}

/* Блок баланса */
.topbar__balance-block {
    display: flex;
    align-items: center;
    background: #3A3451;
    border-radius: 6px 0 0 6px;
    height: 40px;
    width: 151px;
    /*padding: 0 12px 0 8px;*/
    font-size: 14px;
    font-weight: 400;
    font-family: 'Sofia Sans', Arial, sans-serif;
    /*white-space: nowrap;*/
    justify-content: center;
}

.topbar__balance-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.topbar__balance {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin-right: 4px;
}

.topbar__arrow-down {
}

/* Кнопка Deposit */
.topbar__deposit-btn {
    background: #E5FF3A;
    color: #2A2E0A;
    font-weight: 700;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: 'Sofia Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    transition: background 0.15s;
    padding: 0;
}
.topbar__deposit-btn:hover {
    background: #e1fa0f;
}

.topbar__deposit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 40px;
    background: #E5FF3A;
    border: none;
    border-radius: 0 6px 6px 0;
    gap:8px;
}

.topbar__icons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.topbar__icon {
    width: 40px;
    height: 40px;
    background: #3A3451;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbar__icon img {
    width: 20px;
    height: 20px;
}

.promo-info{
    padding-left: 116px;
}

.promo-title{
    font-size: 72px;
    font-weight: 900;
    font-family: 'Sofia Sans Extra Condensed', 'Sofia Sans Condensed', Arial, sans-serif;
    color: #ECECEC;
    line-height: 78%;
    margin: 0;
}

.promo-desc{
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    padding-top: 8px;
}

.promo {
    background: url('assets/images/MainImage.png') no-repeat right center;
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 44px 60px;
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
}

.promo-banner {
    display: flex;
    justify-content: center;
    margin: 34px 0;
}

main{
    padding: 20px 16px 104px 16px;
}

.rakeback{
    padding-bottom: 273px;
}

.rakeback-title {
    text-align: center;
    margin: 80px 0 32px 0;
    font-size: 36px;
    font-weight: 900;
    /*letter-spacing: 0.5px;*/
    font-family: 'Sofia Sans', Arial, sans-serif;
}

.rates{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 19px;
}

.rate-card {
    position: relative;
    width: 368px;
    height: 270px;
    border-radius: 24px;
    overflow: hidden;
    background: linear-gradient(318.79deg,
    #E2FF51 11.55%,
    #FFFFFF 17.57%,
    #E2FF51 35.65%,
    #E2FF51 41.67%,
    #181921 49.21%,
    #E2FF51 56.74%,
    #FFFFFF 62.77%,
    #E2FF51 80.84%,
    #E2FF51 86.87%
    );
}

.rate-card-front::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 2px;
    background:linear-gradient(118.29deg, #181921 0%, #E2FF51 50%, #181921 100%);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 2;
}

.rate-card-front::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    background: rgba(24, 25, 33, 0.80);
    pointer-events: none;
}

.rate-card-inner {
    position: absolute;
    inset: 44px 35px;
    border-radius: 20px;
    border: 12px solid #181921;
    box-sizing: border-box;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.rate-card-value {
    background: #181921;
    border-radius: 8px;
    max-width:210px;
    width:210px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E2FF51;
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    z-index: 5;
    letter-spacing: 2px;
    border: none;
}

.rate-card-flip {
    perspective: 1400px;
    width: 368px;
    height: 270px;
    display: inline-block;
}
.rate-card-flip-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.75s cubic-bezier(.4,2.1,.51,.8);
    transform-style: preserve-3d;
    position: relative;
}
.rate-card-flip:hover .rate-card-flip-inner,
.rate-card-flip:focus-within .rate-card-flip-inner {
    transform: rotateY(180deg);
}

.rate-card-front,
.rate-card-back {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    border-radius: 24px;
    backface-visibility: hidden;
    box-shadow: 0 4px 32px #10101370;
}

.rate-card-back {
    transform: rotateY(180deg);
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: linear-gradient(47.84deg, #181921 44.36%, #2B2D3F 56.56%, #313347 61.08%);
}

.rate-card-back::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 2px;
    background:linear-gradient(145.76deg, #E2FF51 0%, rgba(24, 25, 33, 0) 38.05%, rgba(24, 25, 33, 0) 65.55%, #E2FF51 100%);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 2;
}

.rate-card-back-header {
    background: #E2FF51;
    color: #181921;
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-size: 48px;
    font-weight: 900;
    padding: 0 24px;
    height: 76px;
    border-radius: 24px 24px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rate-card-back-desc {
    color: #fff;
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding: 24px;
    flex: 1;
    line-height: 1;
    letter-spacing: 0;
}

.rate-card-back-desc .bold {
    font-weight: 800;
}

.rate-card-back-desc b {
    font-weight: 900;
    color: #fff;
}
.rate-card-back-desc b:last-child {
    color: #fff;
}

.rate-card-front {
    z-index: 3;
}


.promo-banner img {
    width: 400px;
    max-width: 85vw;
    border-radius: 16px;
    box-shadow: 0 0 32px #0004;
}






.terms-section {
    position: relative;
    width: 1142px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.terms-bar-img {
    position: absolute;
    top: -193px;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

/* Стили для закрытого состояния */
.terms-block {
    position: relative;
    width: 1142px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-radius: 12px;
    overflow: hidden;
    background: transparent;
    border: none;
}

.btn-terms {
    position: relative;
    width: 100%;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:
            /*linear-gradient(0deg, var(--working-suit, #181921), var(--working-suit, #181921)),*/
            linear-gradient(145.76deg, rgba(59, 52, 80, 0.04) 4%, rgba(255, 255, 255, 0.08) 20%, rgba(59, 52, 80, 0.04) 40%, rgba(59, 52, 80, 0.04) 70%, rgba(255, 255, 255, 0.08) 90%, rgba(59, 52, 80, 0.04) 100%);
    border-radius: 12px;
    box-shadow: inset 0 0 20px 2px rgba(255, 255, 255, 0.2);
    padding: 0 97px;
    font-family: 'Sofia Sans', Arial, sans-serif;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 1;
}

/* Кнопка в открытом состоянии */
.terms-block.expanded .btn-terms {
    background: transparent;
    box-shadow: none;
    border-radius: 20px;
}

/* Градиентная рамка для кнопки (только в закрытом состоянии) */
.btn-terms::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 2px;
    background: linear-gradient(175.76deg, #E2FF51 0%, rgba(24, 25, 33, 0) 28.05%, rgba(24, 25, 33, 0) 71.55%, #E2FF51 100%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
}

.terms-block.expanded .btn-terms::before {
    display: none;
}

/* Остальные стили */
.terms-text {
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.plus {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #E5FF3A;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 18px rgba(226, 255, 81, 0.2);
}

.plus img {
    transition: transform 0.3s ease;
}

/* Контент */
.terms-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 97px;
    transition: all 0.3s ease;
}

.terms-block.expanded .terms-content {
    max-height: 1000px;
    padding: 0 77px;
    border-radius: 20px;
}

.terms-block.expanded {
    background:
            /*linear-gradient(0deg, var(--working-suit, #181921), var(--working-suit, #181921)),*/
            linear-gradient(145.76deg, rgba(59, 52, 80, 0.04) 4%, rgba(255, 255, 255, 0.08) 20%, rgba(59, 52, 80, 0.04) 40%, rgba(59, 52, 80, 0.04) 70%, rgba(255, 255, 255, 0.08) 90%, rgba(59, 52, 80, 0.04) 100%);
    box-shadow: inset 0 0 20px 2px rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.terms-block.expanded::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(145.76deg, #E2FF51 0%, rgba(24, 25, 33, 0) 38.05%, rgba(24, 25, 33, 0) 65.55%, #E2FF51 100%);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
}

.terms-content ul {
    list-style: none;
    padding: 8px 0 0;
    margin: 0;
    color: white;
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.terms-content .bold {
    font-weight: 800;
}

.terms-content li {
    margin-bottom: 32px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list-icon {
    left: 0;
    margin-right: 8px;
    width: 14px;
    height: 14px;
}

.footer {
    background: #14141A;
    color: #C7CAFF;
    font-family: 'Sofia Sans', Arial, sans-serif;
    padding: 0;
}

.footer-top {
    padding: 48px 48px 0 48px;
}

.footer-cols {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.contact-links{
    padding-top: 16px;
}

.footer-col {
    min-width: 155px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-socials-row{
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: #fff;
    font-family: 'Sofia Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 4px;
}

.footer-col a,
.footer-contact span {
    color: #C7CAFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    /*margin-bottom: 5px;*/
    transition: color 0.2s;
}

.footer-col a:hover {
    color: #E2FF51;
}

.footer-btc{
    color: #FFFFFF !important;
}

.footer-title-contact, .footer-title-btc{
    margin-bottom:12px !important;
}

.footer-icons-row {
    display: flex;
    gap: 16px;
    margin-bottom: 4px;
}

.socials-row{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.second-socials-row{
    display: flex;
    gap: 16px;
}


.footer-contact {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
    background: #C7CAFF1A;
    width: 169px;
    height: 33px;
    border-radius: 20px;
    justify-content: center;
}

.footer-bottom {
    background: #181921;
    margin-top: 0;
    padding: 16px 32px 48px 32px;
    color: #bfc0ca;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #23232c;
    position: relative;
}

.footer-18plus {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.footer-18plus-icon {
    display: inline-block;
    background: #23232c;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto 10px auto;
}

.footer-bottom-text {
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 900px) {
    .footer-cols {
        flex-wrap: wrap;
        gap: 24px;
    }
    .footer-top {
        padding: 32px 16px 0 16px;
    }
    .footer-bottom {
        padding: 16px;
    }
}

@media (max-width: 800px) {
    .promo { flex-direction: column; align-items: flex-start; padding: 22px; }
    .promo-img { width: 60vw; margin: 30px 0 0 0; }
    .rates { flex-direction: column; gap: 20px; align-items: center; }
    .footer-links { flex-direction: column; gap: 20px; }
}

@media (hover: none) and (pointer: coarse) {
    .rate-card-flip {
        cursor: pointer;
    }
}
